header, footer{
	color: black; /*teksti värv*/
	background-color: SlateBlue ; /*tausta värv*/
	width: 50%; /*laius*/
	text-align: center;
	border: dashed 5pt purple; /*piir - solid, dashed, dotted, double*/
	border-radius: 60px 120px 60px 120px;
	padding:1%
}
main section{
	color: black;
	background-color: LightBlue ;
	border: double 4pt red;
	margin:5px;
	width: 40%;
	padding:1%
}
main section h2{
	color:red;
	font-variant: small-caps;
}
nav ul {
  list-style-type: none; /*loetelu markerid*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*kuidas näidata nav elemendid*/
  background-color: #38444d;
}

nav li {
  float: left;
}

nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn { /*link fookuses*/
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}